@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, header {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 340px;
}

body.modal-open {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

/* ----------- HEADER ----------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 4;
    padding-inline: 65px;
    box-shadow: 0 4px 5px rgb(95, 81, 219);
    background: linear-gradient(70deg, rgb(95, 81, 219), rgb(254, 255, 208));
    background-color: white;
}

header .logo {
    width: 4%;
}

header .logo img {
    width: 100%;
}

nav {
    padding: 0 20px;
    display: flex;
    overflow: hidden;
    position: relative;
}
  
.nav-item {
    color: rgb(95, 81, 219);
    font-family: 'Lato', sans-serif;
    padding: 1vw;
    margin: 0 0.5vw;
    position: relative;
    text-decoration: none;
    font-weight: 900;
}
  
.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: rgb(70, 51, 21);
    height: 3.5px;
    width: 100%;
    border-radius: 30px;
    left: 0;
    transition: .3s;
}
  
.nav-item:not(.is-active):hover:before {
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: rgb(70, 51, 21);
}
  
.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3.5px;
    transition: .4s;
    border-radius: 30px;
}

.curtain-menu {
    display: none;
}

/* ----------- HEADER OFF ----------- */

/* ----------- INTRO ----------- */

#intro {
    background-color: rgb(254, 255, 208);
    padding: 130px 65px 170px;
}

.pres-profil {
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
    justify-content: space-between;
}

.pres {
    width: 60%;
}

.pres h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(22, 17, 12);
    font-size: 40px;
}

.pres p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 2vw;
    color: rgb(22, 17, 12);
}

.profil {
    width: 25%;
}

.profil img {
    width: 100%;
}

.reseaux ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.reseaux p {
    font-size: 18px;
    margin-bottom: 1vw;
    font-family: 'Lato', sans-serif;
    color: rgb(22, 17, 12);
}

.reseaux i {
    color: rgb(95, 81, 219);
    padding-right: 1vw;
    transition: all 0.3s ease 0s;
}

.reseaux i:hover {
    transform: translateY(-7px);
}


/* ----------- INTRO OFF ----------- */

/* ----------- À PROPOS ----------- */

#about {
    padding: 130px 65px 170px;
}

#about h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(22, 17, 12);
}

.about-txt {
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: rgb(22, 17, 12);
}

.about-txt strong {
    color: rgb(95, 81, 219);
}

/* ----------- À PROPOS OFF ----------- */

/* ----------- COMPETENCES ----------- */

#competences {
    padding: 130px 65px 170px;
    background-color: rgb(254, 255, 208);
    text-align: center;
}

#competences h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(22, 17, 12);
}

.langage-outil {
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}

.langage, .outil {
    width: 40%;
    text-align: center;
}

.langage h3, .outil h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(22, 17, 12);
}

.langage-container, .outil-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 3vw;
}

.langage-card div, .outil-card i {
    font-size: 30px;
    color: rgb(95, 81, 219);
}

.langage-card h4, .outil-card h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 1vw;
    color: rgb(22, 17, 12);
}

.circle-icon {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 3.8vw;
    height: 3.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.langage-card, .outil-card {
    border: 1.5px solid rgb(0, 0, 0); 
    box-shadow: 7px 5px rgba(22, 17, 12, 0.5);
    border-radius: 8px;
    padding: 1vw;
    margin: 0.5vw;
}

/* ----------- COMPETENCES OFF ----------- */

/* ----------- PROJETS ----------- */

#projets {
    padding: 130px 65px 170px;
}

#projets h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    color: rgb(22, 17, 12);
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    gap: 70px;
    margin-top: 2vw;
    border: 1px solid rgb(95, 81, 219);
    border-radius: 30px;
    padding: 10px;
}

.filters li{
    font-family: 'Lato', sans-serif;
    padding: 5px 15px;
    color: rgb(95, 81, 219);
}

.filters li.active-tag {
    color: rgb(255, 255, 255);
    background-color: rgb(95, 81, 219);
    border-radius: 30px;
}

.gallery {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    width: 100%;
}

.gallery-item {
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 0px 10px rgba(95, 81, 219, 0.7);
    transition: box-shadow 0.3s ease; 
    position: relative;
    overflow: hidden; 
    border-radius: 30px;
}

.gallery img {
    width: 100%;
}

.gallery-item:hover {
    box-shadow: 0px 0px 20px rgba(95, 81, 219, 0.7); 
}

.gallery-item:hover .overlay {
    display: flex; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.9); 
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
}

.overlay p {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.overlay button {
    background-color: transparent;
    border: 1px solid rgb(242, 242, 245);
    color: rgb(250, 250, 252);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    margin-top: 1vw;
}

.overlay button:hover {
    background-color: white;
    color: rgb(22, 17, 12); 
    border: none
}

/* ----------- MODALE  ----------- */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    display: none;
}

.modal-active {
    display: block;
}

.overlay-modal {
    position: absolute;
    background: rgba(39, 39, 39, 0.9);
    width: 100%;
    height: 100%;
}

.modal-container {
    position: absolute;
    width: 80%;
    height: 80%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 10px 25px;
}

.close-modal {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.close-modal i {
    cursor: pointer;
    font-size: 25px;
    color: rgb(95, 81, 219);
}

.modal-global{
    display: flex;
}

.modal-template {
    width: 50%;
    margin-inline: 20px;
}

.modal-template img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(95, 81, 219, 0.7);
}

.modal-presentation {
    width: 50%;
    margin: 0 30px 40px 5px;
} 

.modal-presentation h3 {
    font-size: 25px;
    margin-bottom: 1vw;
    font-family: 'Lato', sans-serif;
    color: rgb(95, 81, 219);
}

.modal-presentation h4 {
    font-size: 18px;
    margin-top: 1vw;
    font-family: 'Lato', sans-serif;
}

.modal-presentation h4 span {
    font-family: 'Lato', sans-serif;
    color: #7a7a7a;
    font-weight: 400;
}

.modal-presentation p, .realisation li {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin-top: 1vw;
    color: #7a7a7a;
}

.modal-presentation .realisation {
    list-style: circle;
    margin-left: 1vw;
    display: block;
    font-family: 'Lato', sans-serif;
}

.modal-presentation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Lato', sans-serif;
}

.modal-presentation li {
    margin: 20px 10px 20px 0;
}

.modal-tag {
    padding: 4px 12px;
    border: 1px solid rgb(95, 81, 219);
    border-radius: 30px;
    font-size: 14px;
    color: rgb(95, 81, 219);
}

.modal-tag i {
    padding-right: 5px;
}

.modal-visite-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 1vw;
}

.modal-visite {
    border: 1px solid rgb(95, 81, 219);
    border-radius: 30px;
    padding: 12px;
    font-family: 'Lato', sans-serif;
    background: rgb(95, 81, 219);
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #f1f1f1;
    width: 30%;
    text-align: center;
}

.modal-visite:hover {
    background: rgba(75, 61, 199);
    color: white;
    transform: translateY(-7px);
}

/* ----------- MODALE OFF ----------- */

/* ----------- PROJETS OFF ----------- */

/* ----------- CONTACT ----------- */

#contact {
    padding: 130px 65px 170px;
    background-color: rgb(254, 255, 208);
    text-align: center;
}

#contact h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(22, 17, 12);
}

#contact p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-top: 1vw;
    color: rgb(22, 17, 12);
}

#contact a {
    color: rgb(95, 81, 219);
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

.formulaire {
    padding: 20px;
    border: 1.5px solid rgb(0, 0, 0); 
    box-shadow: 7px 5px rgba(22, 17, 12, 0.5);
    border-radius: 8px;
}

.contact-container {
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
    justify-content: space-around;
}

.contact-illustration {
    width: 25%;
}

.contact-illustration img {
    width: 100%;
}

.name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    text-align: left;
}

.name-input label {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    letter-spacing: 1px;
    color: rgb(22, 17, 12);
}

.name-input input, .other-inputs input  {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid rgb(95, 81, 219);
    padding: 15px;
    margin-top: 10px;
}

.other-inputs {
    text-align: left;
}

.other-inputs div {
    margin-top: 1vw;
}

.other-inputs label {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    letter-spacing: 1px;
    color: rgb(22, 17, 12);
}

.other-inputs textarea {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid rgb(95, 81, 219);
    padding: 10px;
    margin-top: 10px;
    height: 10vw;
}

.submit {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: rgb(22, 17, 12);
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-top: 2vw;
    }

.submit:hover {
    background-color: rgb(95, 81, 219);
    box-shadow: 0px 15px 20px rgba(95, 81, 219, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.submit i {
    padding: 5px;
}

/* ----------- BOUTON RESEAUX ----------- */

.toggle {
    width: 50px;
    height: 50px;
    background: rgb(95, 81, 219);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.toggle::before {
    content: '\f1e0';
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.share.active .toggle::before {
    content: '\f00d';
    font-size: 20px;
}

.share {
    position: fixed;
    bottom: 70px;
    left: 70px;
}

.share ol {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 12px;
}

.share ol li {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    border: 1px solid rgb(70, 51, 21);
}

.share ol li:hover {
    background: rgb(70, 51, 21); 
}

.share ol li a {
    color: rgb(70, 51, 21);
}

.share ol li:hover a {
    color: white; 
}


.share.active ol li {
    opacity: 1;
    transition: opacity 0.2s, transform 0.2s;
}

.share.active ol li:nth-child(1) {
    transition-delay: .1s;
    transform: translateX(60px);
}

.share.active ol li:nth-child(2) {
    transition-delay: .2s;
    transform: translateY(60px);
}

.share.active ol li:nth-child(3) {
    transition-delay: .3s;
    transform: translateX(-60px);
}

.share.active ol li:nth-child(4) {
    transition-delay: .4s;
    transform: translateY(-60px);
}

/* ----------- BOUTON RESEAUX OFF ----------- */

/* ----------- BOUTON TO THE TOP ----------- */

.to-the-top {
    height: 50px;
    width: 50px;
    background: rgb(96, 66, 118);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 70px;
    right: 70px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.to-the-top:hover {
    transform: translateY(-7px);
}

.to-the-top i {
    color: white;
    font-size: 20px;
}

/* ----------- BOUTON TO THE TOP OFF ----------- */

/* ----------- FOOTER ----------- */

footer {
    padding: 70px 65px 10px;
    text-align: center;
}

footer span, footer p {
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.reseaux-footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    display: none;
}

.reseaux-footer a {
    border: 1.5px solid rgb(95, 81, 219);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;
}

.reseaux-footer i {
    color: rgb(95, 81, 219);
    padding: 0;
    font-size: 20px;
}

.reseaux-footer a:hover {
    background: rgb(95, 81, 219);
}

.reseaux-footer a:hover i {
    color: white;
}

/* ----------- FOOTER OFF ----------- */

/* ----------- RESPONSIVE TABLET ON ----------- */

@media screen and (max-width:1170px) {

    .nav-toggler {
        position: fixed;
        z-index: 10;
        top: 15px;
        right: 40px;
        height: 50px;
        width: 35px;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }
    .line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: rgb(70, 51, 21);
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }
    .l1 {
        transform: translateY(-10px);
    }
    .l3 {
        transform: translateY(10px);
    }
    .nav-toggler.active .l1 {
        transform: translateY(0px) rotate(45deg);
    }
    .nav-toggler.active .l2 {
        opacity: 0;
    }
    .nav-toggler.active .l3 {
        transform: translateY(0px) rotate(-45deg);
    }
    .curtain-menu {
        position: fixed;
        width: 100vw;
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(70deg, rgb(95, 81, 219), rgb(254, 255, 208));
        transform: translateY(-100%);
        transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
        z-index: 3;
    }
    .curtain-menu.active {
        transform: translate(0);
    }
    .curtain-menu a {
        font-family: 'Lato', sans-serif;
        color: rgb(70, 51, 21);
        font-size: 20px;
        margin: 10px 0;
        text-decoration: none;
    }
    nav {
        display: none;
    }
    .share {
        display: none;
    }
    .reseaux-footer{
        display: flex;
    }
    .curtain-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 39, 39, 0.5);
        z-index: 1; 
    }
    .filters ul {
        gap: 50px;
        padding: 5px;
    }
    .modal-global {
        flex-direction: column;
        align-items: center;
    }
    .modal-template {
        width: 90%;
    }
    .modal-presentation {
        width: 90%;
        margin: 0;
    }
    .modal-presentation h3 {
        text-align: center;
        margin-top: 2vw;
    }
    .langage-card div, .outil-card i {
        font-size: 25px;
    }
    .to-the-top {
        right: 45px;
    }
    .profil {
        width: 30%;
    }
    .contact-illustration {
        width: 30%;
    }
}

@media screen and (max-width:1000px) {
    .langage-outil {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .outil {
        margin-top: 5vw;
    }
    .langage, .outil {
        width: 70%;
    }
}

/* ----------- RESPONSIVE TABLET OFF ----------- */

/* ----------- RESPONSIVE MOBILE ON ----------- */

@media screen and (max-width:800px) {
    header .logo {
        width: 40px;
    }
    .pres-profil {
        flex-direction: column;
    }
    .pres {
        width: 75%;
        text-align: center;
    }
    .pres h1 {
        font-size: 7.5vw;
    }
    .pres p {
        margin-bottom: 2vw;
        text-align: center;
        font-size: 4vw;
    }
    .profil {
        width: 50%;
    }
    .reseaux {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reseaux p {
        font-size: 4vw;
    }
    .reseaux i {
        padding: 10px;
        font-size: 4vw;
    }
    #about h2 {
        font-size: 6.5vw;
        margin-bottom: 4vw;
    }
    .about-txt {
        font-size: 4vw;
    }
    #competences h2 {
        font-size: 6.5vw;
        margin-bottom: 4vw;
    }
    .langage h3, .outil h3 {
        font-size: 5vw;
        margin-top: 5vw;
    }
    .langage-card h4, .outil-card h4 {
        font-size: 3.5vw;
    }
    .langage-container, .outil-container {
        grid-template-columns: 1fr;
    }
    .circle-icon {
        background: transparent;
    }
    .circle-icon i {
        font-size: 3.5vw;
    }
    #projets h2 {
        margin-bottom: 40px;
        font-size: 6.5vw;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .gallery-item {
        margin-top: 3.5vw;
    }
    .filters ul {
        width: 100%;
        border: none;
        flex-flow: column;
    }
    .filters li {
        width: 100%;
        border: 1px solid rgb(95, 81, 219);
        border-radius: 30px;
        text-align: center;
        padding: 7px 6px;
        margin-top: -40px;
    }
    .modal-presentation h3 {
        font-size: 5vw;
    }
    .modal-presentation h4 {
        font-size: 3.5vw;
    }
    .modal-presentation p, .realisation li {
        font-size: 4vw;
    }
    .modal-presentation ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
    }
    .modal-presentation li {
        margin: 2vw;
    }
    .modal-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        width: 100%;
    }
    .modal-visite {
        font-size: 2.5vw;
        width: 100%;
    }
    #contact h2 {
        font-size: 6.5vw;
    }
    #contact p {
        font-size: 4vw;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-illustration {
        margin-bottom: 2vw;
    }
    .formulaire {
        width: 100%;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .name-container {
        flex-flow: column;
        gap: 7px;
    }
    .name-input {
        width: 100%;
    }
    .name-input label, .other-inputs label {
        font-size: 2.8vw;
    } 
    .name-input input, .other-inputs input {
        font-size: 2vw;
        margin-top: 1vw;
    } 
    .other-inputs textarea {
        height: 25vw;
        font-size: 2vw;
    }
    .submit {
        width: 100%;
        margin-top: 3.5vw;
    }
    .to-the-top {
        display: none;
    }
}

/* ----------- RESPONSIVE MOBILE OFF ----------- */





