* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, header {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 340px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ----------- HEADER ----------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 4;
    padding-inline: 65px;
    box-shadow: 0 4px 5px rgb(95, 81, 219);
    background: linear-gradient(70deg, rgb(95, 81, 219), rgb(254, 255, 208));
    background-color: white;
}

header .logo {
    width: 4%;
}

header .logo img {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    cursor: pointer;
    margin-left: 2.5vw;
    color: rgb(95, 81, 219);
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

/* ----------- INTRO ----------- */

#intro {
    background-color: rgb(254, 255, 208);
    padding: 130px 65px 170px;
}

.pres-profil {
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
    justify-content: space-between;
}

.pres {
    width: 60%;
}

.pres h1 {
    font-size: 50px;
    margin-bottom: 1vw;
    font-family: 'Montserrat', sans-serif;
}

.pres p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.profil {
    width: 25%;
}

.profil img {
    width: 100%;
}

.reseaux ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.reseaux p {
    font-size: 18px;
    margin-bottom: 1vw;
    font-family: 'Lato', sans-serif;
}

.reseaux i {
    color: rgb(95, 81, 219);
    padding-right: 1vw;
}

/* ----------- À PROPOS ----------- */

#about {
    padding: 130px 65px 170px;
}

#about h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.about-txt {
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.about-txt strong {
    color: rgb(95, 81, 219);
}

/* ----------- COMPETENCES ----------- */

#competences {
    padding: 130px 65px 170px;
    background-color: rgb(254, 255, 208);
}

#competences h2 {
    font-size: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#competences p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 1vw;
}

.langage-outil {
    display: flex;
    margin-top: 5vw;
}

.langage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.langage h3 {
    font-family: 'Lato', sans-serif;
}

.langage-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 2vw;
    width: max-content;
}

.langage-card {
    position: relative;
    cursor: pointer;
}

.langage-card div {
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.langage-card div i {
    font-size: 30px;
    color: rgb(96, 66, 118);
}

.langage-card h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.outil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.outil h3 {
    font-family: 'Lato', sans-serif;
}

.outil-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 2vw;
    width: max-content;
}

.outil-card {
    position: relative;
    cursor: pointer;
}

.outil-card div {
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outil-card div i {
    font-size: 30px;
    color: rgb(96, 66, 118);
}

.outil-card h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


















































































.gallery img {
    width: 30%
}