* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, header {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 340px;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ----------- HEADER ----------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 4;
    padding-inline: 65px;
    box-shadow: 0 4px 5px rgb(95, 81, 219);
    background: linear-gradient(70deg, rgb(95, 81, 219), rgb(254, 255, 208));
    background-color: white;
}

header .logo {
    width: 4%;
}

header .logo img {
    width: 100%;
}

nav {
    padding: 0 20px;
    display: flex;
    overflow: hidden;
    position: relative;
}
  
.nav-item {
    color: rgb(95, 81, 219);
    font-family: 'Lato', sans-serif;
    padding: 1vw;
    margin: 0 0.5vw;
    position: relative;
    text-decoration: none;
    font-weight: 900;
}
  
.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: rgb(70, 51, 21);
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
}
  
.nav-item:not(.is-active):hover:before {
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: rgb(70, 51, 21);
}
  
.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
}

.scroll-indicator {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3px;
    transform-origin: left;
    transform: scaleX(0);
    background: rgb(95, 81, 219);
    transition: transform 0.2s ease-out;
}

/* ----------- HEADER OFF ----------- */

/* ----------- INTRO ----------- */

#intro {
    background-color: rgb(254, 255, 208);
    padding: 130px 65px 170px;
}

.pres-profil {
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
    justify-content: space-between;
}

.pres {
    width: 60%;
}

/* ----------- ANIMATION TITRE ----------- */

.pres h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    color: transparent;
    font-size: 0px;
}

.pres h1 span {
     display: inline-block;
     position: relative;
     overflow: hidden;
     font-size: 40px;
}

h1 span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.pres h1:nth-child(1) {
    animation: txt-appearance 0s 1s forwards;
}

.pres h1:nth-child(2) {
    animation: txt-appearance 0s 1.25s forwards;
}

.pres h1:nth-child(1) span::after {
    background: rgb(95, 81, 219);
    animation: slide-in 0.75s ease-out forwards, slide-out 0.75s 1s ease-out forwards;
}

.pres h1:nth-child(2) span::after {
    background: rgb(96, 66, 118);
    animation: slide-in 0.75s 0.3s ease-out forwards, slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    100% {
        transform: translateX(100%);
    }
}

@keyframes txt-appearance {
    100% {
        color: #000000;
    }
}

/* ----------- ANIMATION TITRE OFF ----------- */

.pres p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 2vw;
}

.profil {
    width: 25%;
}

.profil img {
    width: 100%;
}

.reseaux ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.reseaux p {
    font-size: 18px;
    margin-bottom: 1vw;
    font-family: 'Lato', sans-serif;
}

.reseaux i {
    color: rgb(95, 81, 219);
    padding-right: 1vw;
}


/* ----------- INTRO OFF ----------- */

/* ----------- À PROPOS ----------- */

#about {
    padding: 130px 65px 170px;
}

#about h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.about-txt {
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.about-txt strong {
    color: rgb(95, 81, 219);
}

/* ----------- À PROPOS OFF ----------- */

/* ----------- COMPETENCES ----------- */

#competences {
    padding: 130px 65px 170px;
    background-color: rgb(254, 255, 208);
    text-align: center;
}

#competences h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

#competences p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 1vw;
}

.langage-outil {
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}

.langage, .outil {
    width: 40%;
    text-align: center;
}

.langage h3, .outil h3 {
    font-family: 'Lato', sans-serif;
}

.langage-container, .outil-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 3vw;
}

.langage-card div, .outil-card i {
    font-size: 30px;
    color: rgb(95, 81, 219);
}

.langage-card h4, .outil-card h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-top: 1vw;
}

.circle-icon {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 3.8vw;
    height: 3.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.langage-card, .outil-card {
    border: 1.5px solid rgb(0, 0, 0); 
    box-shadow: 7px 5px rgba(22, 17, 12);
    border-radius: 8px;
    padding: 1vw;
    margin: 0.5vw;
}

/* ----------- COMPETENCES OFF ----------- */

/* ----------- PROJETS ----------- */

#projets {
    padding: 130px 65px 170px;
}

#projets h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    gap: 70px;
    margin-top: 2vw;
    border: 1px solid rgb(95, 81, 219);
    border-radius: 30px;
    padding: 10px;
}

.filters li{
    font-family: 'Lato', sans-serif;
    padding: 5px 15px;
    color: rgb(95, 81, 219);
}

.filters li.active-tag {
    color: rgb(255, 255, 255);
    background-color: rgb(95, 81, 219);
    border-radius: 30px;
}


.gallery {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    width: 100%;
}

.gallery-item {
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 0px 10px rgba(95, 81, 219, 0.7);
    transition: box-shadow 0.3s ease; 
    position: relative;
    overflow: hidden; 
}

.gallery img {
    max-width: 100%;
    height: auto; 
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}

.gallery-item:hover {
    box-shadow: 0px 0px 20px rgba(95, 81, 219, 0.7); 
}

.gallery-item:hover .overlay {
    display: flex; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.9); 
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
}

.overlay p {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.overlay button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.overlay button:hover {
    background-color: white;
    color: #333; 
}

/* ----------- PROJETS OFF ----------- */

/* ----------- CONTACT ----------- */

#contact {
    padding: 130px 65px 170px;
    background-color: rgb(254, 255, 208);
    text-align: center;
}

#contact h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

#contact p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 1vw;
}

.formulaire {
    padding: 20px;
    border: 1.5px solid rgb(0, 0, 0); 
    box-shadow: 7px 5px rgba(22, 17, 12);
    border-radius: 8px;
}

.contact-container {
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 5vw;
    justify-content: space-around;
}

.contact-illustration {
    width: 25%;
}

.contact-illustration img {
    width: 100%;
}

.name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    text-align: left;
}

.name-input label {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.name-input input {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid rgb(95, 81, 219);
    padding: 10px;
    margin-top: 10px;
}

.other-inputs {
    text-align: left;
}

.other-inputs div {
    margin-top: 1vw;
}

.other-inputs label {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.other-inputs input {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid rgb(95, 81, 219);
    padding: 10px;
    margin-top: 10px;
}

.other-inputs textarea {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid rgb(95, 81, 219);
    padding: 10px;
    margin-top: 10px;
    height: 10vw;
}

.submit {
    margin-top: 3vw;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border: 1px solid rgb(95, 81, 219);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.submit i {
    padding: 5px;
}

/* ----------- BOUTON RESEAUX ----------- */

.toggle {
    width: 50px;
    height: 50px;
    background: rgb(95, 81, 219);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-right: 7vw;
}

.toggle::before {
    content: '\f1e0';
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}

.share.active .toggle::before {
    content: '\f00d';
    font-size: 2rem;
}

.share {
    position: fixed;
    bottom: 70px;
    right: 70px;
}

.share ol {
    position: absolute;
    width: 50px;
    height: 50px;
}

.share ol li {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s;
    opacity: 0;
    border: 1px solid rgb(70, 51, 21);
}

.share ol li a {
    color: rgb(70, 51, 21);
}

.share.active ol li {
    opacity: 1;
    transition: all .3s;
}

.share.active ol li:nth-child(1) {
    transition-delay: .1s;
    transform: translateX(60px);
}

.share.active ol li:nth-child(2) {
    transition-delay: .2s;
    transform: translateY(60px);
}

.share.active ol li:nth-child(3) {
    transition-delay: .3s;
    transform: translateX(-60px);
}

.share.active ol li:nth-child(4) {
    transition-delay: .4s;
    transform: translateY(-60px);
}

/* ----------- BOUTON RESEAUX OFF ----------- */

/* ----------- FOOTER ----------- */

footer {
    padding: 70px 65px 10px;
    text-align: center; 
}

.footer-nav {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    width: 50%;
    margin: 0 auto; 
    margin-bottom: 2vw;
}

footer p {
    margin-top: 2vw;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

footer span {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}


